// errores

//
// colores bg pagina error
//

.bg-error {
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #9CB325;
  }

  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #BBD72F;
  }

  .st2 {
    fill: #805337;
  }

  .st3 {
    fill: #5E7813;
  }

  .st4 {
    fill: #9CB325;
  }

  .st5 {
    fill: #AE2020;
  }

  .st6 {
    fill: #FFFDE9;
  }

  .st7 {
    fill: #DB3D39;
  }

  .st8 {
    fill: #6A1203;
  }

  .st9 {
    fill: #CA3333;
  }

  .st10 {
    fill: #AE2020;
    stroke: #AE2020;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  .st11 {
    fill: #300404;
  }

  .st12 {
    clip-path: url(#SVGID_2_);
  }

  .st13 {
    fill: url(#SVGID_3_);
  }

  .st14 {
    fill: url(#SVGID_4_);
  }

  .st15 {
    fill: #65A227;
  }

  .st16 {
    clip-path: url(#SVGID_6_);
  }

  .st17 {
    fill: url(#SVGID_7_);
  }

  .st18 {
    fill: url(#SVGID_8_);
  }

  .st19 {
    clip-path: url(#SVGID_10_);
  }

  .st20 {
    fill: url(#SVGID_11_);
  }

  .st21 {
    fill: url(#SVGID_12_);
  }

  .st22 {
    clip-path: url(#SVGID_14_);
  }

  .st23 {
    fill: url(#SVGID_15_);
  }

  .st24 {
    fill: url(#SVGID_16_);
  }

  .st25 {
    clip-path: url(#SVGID_18_);
  }

  .st26 {
    fill: url(#SVGID_19_);
  }

  .st27 {
    fill: url(#SVGID_20_);
  }

  .st28 {
    clip-path: url(#SVGID_22_);
  }

  .st29 {
    fill: url(#SVGID_23_);
  }

  .st30 {
    fill: url(#SVGID_24_);
  }

  .st31 {
    clip-path: url(#SVGID_26_);
  }

  .st32 {
    fill: url(#SVGID_27_);
  }

  .st33 {
    fill: url(#SVGID_28_);
  }

  .st34 {
    clip-path: url(#SVGID_30_);
  }

  .st35 {
    fill: url(#SVGID_31_);
  }

  .st36 {
    fill: url(#SVGID_32_);
  }

  .st37 {
    clip-path: url(#SVGID_34_);
  }

  .st38 {
    fill: url(#SVGID_35_);
  }

  .st39 {
    fill: url(#SVGID_36_);
  }

  #sol {
    .sol_body {
      fill: #EDDC6E;
    }

    .sol_shades {
      fill: #E4C94B;
    }
  }

  .nube1,
  .nube2,
  .nube3 {
    fill: #FFFFFF;
  }

  .st43 {
    fill: #612B28;
  }

  .st44 {
    fill: #6A1203;
    stroke: #6A1203;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st45 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FBC55F;
  }

  .st46 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #F9AD4C;
  }

  .st47 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #F3A72C;
  }

  .st48 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #5E7813;
  }

  .st49 {
    fill: #F0F1D4;
  }

  .st50 {
    fill: #380D04;
  }

  .st51 {
    fill: #A6D4D1;
  }

  .st52 {
    fill: #AC683B;
  }

  .st53 {
    fill: #603912;
  }

  .st54 {
    fill: #3D2418;
  }

  .st55 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #805337;
  }

  .st56 {
    fill: #BC9F86;
  }

  .st57 {
    fill: #EAECED;
  }

  .st58 {
    fill: #BC9E85;
  }

  .st59 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #EF9794;
  }

  .st60 {
    fill: #FDFDFD;
  }

  .st61 {
    fill: #EE9793;
  }

  .st62 {
    fill: #212121;
  }

  .st63 {
    fill: #ED967B;
  }

  .st64 {
    fill: #7B2817;
  }

  .st65 {
    opacity: 0.21;
    fill: url(#XMLID_2_);
    enable-background: new;
  }

  .st66 {
    fill: #85A000;
  }

  .st67 {
    opacity: 0.31;
    fill: #85A000;
    enable-background: new;
  }

  .st68 {
    fill: #B3C60E;
  }

  .st69 {
    fill: #608000;
  }

  .st70 {
    fill: #FF9A06;
  }

  .st71 {
    fill: #FFC637;
  }

  .st72 {
    fill: #EF8A07;
  }

  .st73 {
    opacity: 0.21;
    fill: url(#XMLID_3_);
    enable-background: new;
  }

  .st74 {
    fill: #EA433F;
  }

  .st75 {
    fill: #649696;
  }

  .st76 {
    fill: #CB3935;
  }

  .st77 {
    fill: #B1312D;
  }

  .st78 {
    fill: #C53733;
  }

  .st79 {
    fill: #9F2424;
  }

  .st80 {
    fill: #004454;
  }

  .st81 {
    fill: #A82929;
  }

  .st82 {
    fill: #BA5E35;
  }

  .st83 {
    fill: #A04C2B;
  }

  .st84 {
    fill: #00A2B5;
  }

  .st85 {
    opacity: 0.3;
    fill: #C74C31;
    enable-background: new;
  }

  .st86 {
    fill: #F0A17E;
  }

  .st87 {
    opacity: 0.5;
    fill: #A72216;
    enable-background: new;
  }

  .st88 {
    opacity: 0.3;
    fill: #E35453;
    enable-background: new;
  }

  .st89 {
    fill: #070406;
  }

  .st90 {
    fill: #BF5D36;
  }

  .st91 {
    fill: #22090A;
  }

  .st92 {
    fill: #DF7947;
  }

  .st93 {
    fill: #F9D485;
  }

  .st94 {
    fill: #BB8438;
  }

  .st95 {
    fill: #EFC272;
  }

  .st96 {
    fill: #D6964C;
  }

  .st97 {
    opacity: 0.35;
    fill: #CB3935;
    enable-background: new;
  }

  .st98 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #AE2020;
  }

  .st99 {
    fill: #424244;
  }

  .st100 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #DB3D39;
  }

  .st101 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #B5EAF0;
  }

  .st102 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #85DCE7;
  }

  .st103 {
    fill: #F4F5F7;
  }

  .st104 {
    fill: #4D4E50;
  }

  .st105 {
    fill: #FFA300;
  }

  .st106 {
    fill: #E98800;
  }

  .st107 {
    fill: #47CCDE;
  }

  .st108 {
    opacity: 0.5;
  }

  .st109 {
    clip-path: url(#SVGID_38_);
    fill: #E4EEF3;
  }

  .st110 {
    clip-path: url(#SVGID_40_);
    fill: #E4EEF3;
  }

  .st111 {
    fill: #F63E39;
  }

  .st112 {
    fill: #7D7D7D;
  }

  .st113 {
    fill: none;
    stroke: #FFA300;
    stroke-width: 1.9346;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  .st114 {
    fill: #252729;
  }

  .st115 {
    fill: #3C3E40;
  }

  .st116 {
    fill: #FFE5C1;
  }

  .st117 {
    fill: #53575E;
  }

  .st118 {
    fill: #686C71;
  }

  .st119 {
    fill: #1B1F23;
  }

  .st120 {
    fill: #353D4C;
  }

  .st121 {
    fill: #242A35;
  }

  .st122 {
    clip-path: url(#SVGID_42_);
  }

  .st123 {
    opacity: 0.3;
    fill: #242A35;
    enable-background: new;
  }

  .st124 {
    opacity: 0.21;
    fill: url(#XMLID_4_);
    enable-background: new;
  }

  .st125 {
    fill: #029F92;
  }

  .st126 {
    fill: #00B8A1;
  }

  .st127 {
    fill: #066568;
  }

  .st128 {
    opacity: 0.47;
  }

  .st129 {
    opacity: 0.17;
    enable-background: new;
  }

  .st130 {
    opacity: 0.21;
    fill: url(#XMLID_5_);
    enable-background: new;
  }

  .st131 {
    fill: #8E7D57;
  }

  .st132 {
    opacity: 0.1;
    enable-background: new;
  }

  .st133 {
    fill: #A48F65;
  }

  .st134 {
    fill: #EC7F00;
  }

  .st135 {
    fill: #FC8600;
  }

  .st136 {
    opacity: 0.2;
  }

  .st137 {
    opacity: 0.15;
    fill: #FFFFFF;
    enable-background: new;
  }

  .st138 {
    fill: #FF9200;
  }

  .st139 {
    opacity: 0.2;
    enable-background: new;
  }

  .st140 {
    fill: #EE7F00;
  }

  .st141 {
    fill: #FF9700;
  }

  .st142 {
    opacity: 0.4;
    fill: #FFFFFF;
    enable-background: new;
  }

  .st143 {
    fill: #388700;
  }

  .st144 {
    fill: #3E9100;
  }

  .st145 {
    fill: #409600;
  }

  .st146 {
    fill: #FCB83E;
  }

  .st147 {
    fill: #FF9A3C;
  }

  .st148 {
    fill: #398F00;
  }

  .st149 {
    fill: #47AC00;
  }

  .st150 {
    opacity: 0.1;
    fill: #FFFFFF;
    enable-background: new;
  }

  .st151 {
    fill: #327E00;
  }

  .st152 {
    fill: #388500;
  }

  .st153 {
    fill: #A255D3;
  }

  .st154 {
    fill: #9B52CB;
  }

  .st155 {
    fill: #934CBE;
  }

  .st156 {
    fill: #A859DA;
  }

  .st157 {
    opacity: 0.2;
    fill: #FFFFFF;
    enable-background: new;
  }

  .st158 {
    opacity: 0.25;
    fill: #FFFFFF;
    enable-background: new;
  }

  .st159 {
    fill: #4AAC00;
  }

  .st160 {
    fill: #AB3700;
  }

  .st161 {
    fill: #D15E00;
  }

  .st162 {
    fill: #F07C00;
  }

  .st163 {
    fill: #E86600;
  }

  .st164 {
    fill: #D85A00;
  }

  .st165 {
    fill: #FD8800;
  }

  .st166 {
    fill: #FC7B00;
  }

  .st167 {
    fill: #AD4300;
  }

  .st168 {
    opacity: 0.21;
    fill: #E86600;
    enable-background: new;
  }

  .st169 {
    opacity: 0.45;
    fill: #E86600;
    enable-background: new;
  }

  .st170 {
    fill: #FF9E1E;
  }

  .st171 {
    fill: #852700;
  }

  .st172 {
    fill: #6A1E00;
  }

  .st173 {
    fill: #A32E00;
  }

  .st174 {
    fill: #BD3600;
  }

  .st175 {
    opacity: 0.29;
    fill: #6A1E00;
    enable-background: new;
  }

  .st176 {
    fill: #4E1100;
  }

  .st177 {
    fill: #B12C00;
  }

  .st178 {
    fill: #FF5900;
  }

  .st179 {
    fill: #AD4900;
  }

  .st180 {
    fill: #FF7400;
  }

  .st181 {
    fill: #D61A00;
  }

  .st182 {
    fill: #FF2200;
  }

  .st183 {
    fill: #E91C00;
  }

  .st184 {
    fill: #FF2400;
  }

  .st185 {
    fill: #3F9400;
  }

  .st186 {
    fill: #256600;
  }

  .st187 {
    fill: #2E7900;
  }

  .st188 {
    fill: #FF8D00;
  }

  .st189 {
    fill: #FF8600;
  }

  .st190 {
    fill: #E47800;
  }

  .st191 {
    fill: #F48000;
  }

  .st192 {
    fill: #FF8E00;
  }

  .st193 {
    fill: #FF9B00;
  }

  .st194 {
    fill: #F28000;
  }
}

.logocorporativo-header {
  margin: 20px auto;
  text-align: center;

  a {
    font-size: 35px;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      margin: 0;

      &:first-child {
        color: $v-agro;
      }

      &:last-child {
        color: $a-savia;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .logo-text {
    font-size: 6.6px;
    margin-bottom: 0;
  }
}

//
// Animaciones
//

#error_page {
  background: #4AE2CC;
}

#svg-bg-error {
  position: relative;
  height: 100vh;
  width: 100%;

  .logocorporativo-header {
    position: absolute;
    top: 50px;
    left: 23px;
    width: 100%;
    z-index: 2;

    a {
      font-size: 3rem;
    }

    .logo-text {
      font-size: 9.2px;
    }

    @include media-breakpoint-down(md) {
      top: 0;
      left: 0;

      a {
        font-size: 2rem;
      }

      .logo-text {
        font-size: 6px;
      }
    }
  }

  .info-error {
    background: rgba($white, .9);
    border-radius: 10px;
    padding: 1.5rem;
    position: absolute;
    bottom: 30px;
    z-index: 2;
  }


  &.e400 {

    #e400,
    .e400 {
      display: block;
    }
  }

  &.e404 {

    #e404,
    .e404 {
      display: block;
    }
  }

  &.e500 {

    #e500,
    .e500 {
      display: block;
    }
  }

  #e400,
  #e404,
  #e500,
  .e400,
  .e404,
  .e500 {
    display: none;
  }

  .bg-error {
    width: 800px;
    margin-left: -400px;
    height: 1000px;
    margin-top: -500px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: -50%;
      height: 100vh;
      margin-top: -50vh;
    }
  }

  #sol {
    transform-origin: 640px 81px;
    @include prefix(animation, sol-float 30s infinite ease-in-out);
  }

  .nube1 {
    @include prefix(animation, nube 35s ease-in-out infinite);
  }

  .nube2 {
    @include prefix(animation, nube 35s ease-in-out infinite);
    @include prefix(animation-delay, 1s);
  }

  #cloud {
    animation: nub3 9s infinite ease-in-out;
  }

  @keyframes nub3 {
    0% {
      opacity: 1;
      transform: skewX(-7deg);
    }

    65% {
      opacity: 0.8;
      left: 114px;
      transform: skewX(7deg);
    }

    100% {
      opacity: 1;
      transform: skewX(-7deg);
    }
  }

  #isla {
    transform-origin: 640px 81px;
    @include prefix(animation, land 6s infinite ease-in-out);
  }

  #e400,
  #e404,
  #e500 {
    transform-origin: 436px 290px;
    @include prefix(animation, error-float 3s infinite ease-in-out);
  }

  #molino_viento {
    .molino {
      transform-origin: 216.57px 246.13px;
      @include prefix(animation, rotation 2s infinite linear);
    }
  }

  #granjera {
    .mano-der {
      transform-origin: 120px 390px;
      @include prefix(animation, granjera-mano 4s infinite ease-in-out);
    }

    #eye-l {
      transform-origin: 125.25px 360px;
      @include prefix(animation, blink-l 12s infinite ease-in-out);
    }

    #eye-r {
      transform-origin: 114.06px 360.31px;
      @include prefix(animation, blink-r 12s infinite ease-in-out);
    }
  }

  #productos {
    transform-origin: 773px 487px;
    transform: scale(1.5);
  }

  #grua {
    transform-origin: 407px 491px;
    @include prefix(animation, drive 60s ease-in-out infinite);

    .grua_tractor {
      @include prefix(animation, baches .4s ease-in-out infinite);

      .st111 {
        @include prefix(animation, luz .4s ease-in-out infinite);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//
// Animación pagina error
//


@keyframes sol-float {
  0% {
    @include prefix(transform, translate(0, 50px) scale(1.1));
  }

  65% {
    @include prefix(transform, translate(0, 0px) scale(1.0));
  }

  100% {
    @include prefix(transform, translate(0, 50px) scale(1.1));
  }
}

@keyframes nube1 {
  50% {
    @include prefix(transform, translateX(120px));
  }

  100% {
    @include prefix(transform, translateX(0));
  }
}

@keyframes nube {
  50% {
    @include prefix(transform, translateX(-120px));
  }

  100% {
    @include prefix(transform, translateX(0));
  }
}

@keyframes land {
  0% {
    @include prefix(transform, translate(0, 20px));
  }

  65% {
    @include prefix(transform, translate(0, 0));
    transform: translate(0, 0px);
  }

  100% {
    @include prefix(transform, translate(0, 20px));
  }
}

@keyframes error-float {
  0% {
    @include prefix(transform, translate(0px, 0px));
  }

  65% {
    @include prefix(transform, translate(0px, 30px));
  }

  100% {
    @include prefix(transform, translate(0px, 0px));
  }
}

@keyframes rotation {
  from {
    @include prefix(transform, rotate(0deg));
  }

  to {
    @include prefix(transform, rotate(359deg));
  }
}

@keyframes blink-l {
  0% {
    @include prefix(transform, rotateX(0deg));
  }

  2% {
    @include prefix(transform, rotateX(80deg));
  }

  4%,
  20% {
    @include prefix(transform, rotateX(0deg));
  }

  22% {
    @include prefix(transform, rotateX(80deg));
  }

  24%,
  30% {
    @include prefix(transform, rotateX(0deg));
  }

  32% {
    @include prefix(transform, rotateX(80deg));
  }

  34%,
  70% {
    @include prefix(transform, rotateX(0deg));
  }

  72% {
    @include prefix(transform, rotateX(80deg));
  }

  74%,
  100% {
    @include prefix(transform, rotateX(0deg));
  }
}

@keyframes blink-r {
  0% {
    @include prefix(transform, rotateX(0deg));
  }

  2% {
    @include prefix(transform, rotateX(80deg));
  }

  4%,
  30% {
    @include prefix(transform, rotateX(0deg));
  }

  32% {
    @include prefix(transform, rotateX(80deg));
  }

  34%,
  50% {
    @include prefix(transform, rotateX(0deg));
  }

  52% {
    @include prefix(transform, rotateX(80deg));
  }

  54%,
  100% {
    @include prefix(transform, rotateX(0deg));
  }
}

@keyframes granjera-mano {
  0% {
    @include prefix(transform, rotateZ(-10deg));
  }

  50% {
    @include prefix(transform, rotateZ(20deg));
  }

  100% {
    @include prefix(transform, rotateZ(-10deg));
  }
}

@keyframes luz {
  0% {
    fill: #31eefd;
  }

  22% {
    fill: #1d85bb;
  }

  42% {
    fill: #884173;
  }

  62% {
    fill: #ff0071;
  }

  82% {
    fill: #009997;
  }

  92% {
    fill: #92ffd7;
  }

  100% {
    fill: #31eefd;
  }
}

@keyframes baches {

  0% {
    @include prefix(transform, translate3d(0, 0, 0));
  }

  50% {
    @include prefix(transform, translate3d(0, 0.4px, 0));
  }

  100% {
    @include prefix(transform, translate3d(0, -0.4px, 0));
  }
}

@keyframes drive {

  0% {
    @include prefix(transform, translateX(-220px) scaleX(1));
  }

  49.5% {
    @include prefix(transform, translateX(380px) scaleX(1));
  }

  50% {
    @include prefix(transform, translateX(260px) scaleX(-1));
  }

  99.5% {
    @include prefix(transform, translateX(-300px) scaleX(-1));
  }

  100% {
    @include prefix(transform, translateX(-220px) scaleX(1));
  }
}