@font-face {
  font-family: 'icoagrosavia';
  src: url('fonts/icoagrosavia.eot?9quwer');
  src: url('fonts/icoagrosavia.eot?9quwer#iefix') format('embedded-opentype'),
    url('fonts/icoagrosavia.ttf?9quwer') format('truetype'),
    url('fonts/icoagrosavia.woff?9quwer') format('woff'),
    url('fonts/icoagrosavia.svg?9quwer#icoagrosavia') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoagrosavia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academico:before {
  content: "\e900";
}

.icon-access:before {
  content: "\e901";
}

.icon-agroexplora:before {
  content: "\e902";
}

.icon-agrosavia-1:before {
  content: "\e903";
}

.icon-agrosavia-2:before {
  content: "\e904";
}

.icon-agrosavia-full:before {
  content: "\e905";
}

.icon-agrosavia-mini:before {
  content: "\e906";
}

.icon-arrow-pointing-to-right:before {
  content: "\e907";
}

.icon-BGermoplasma:before {
  content: "\e908";
}

.icon-biblioteca:before {
  content: "\e909";
}

.icon-books:before {
  content: "\e90a";
}

.icon-calendar:before {
  content: "\e90b";
}

.icon-capacitacion:before {
  content: "\e90c";
}

.icon-chat:before {
  content: "\e90d";
}

.icon-check-ok:before {
  content: "\e90e";
}

.icon-ci:before {
  content: "\e90f";
}

.icon-clock:before {
  content: "\e910";
}

.icon-coleccion:before {
  content: "\e94e";
}

.icon-ctni:before {
  content: "\e94d";
}

.icon-datos:before {
  content: "\e911";
}

.icon-drag:before {
  content: "\e912";
}

.icon-edit:before {
  content: "\e913";
}

.icon-estrategia:before {
  content: "\e914";
}

.icon-exhibicion:before {
  content: "\e94f";
}

.icon-ev:before {
  content: "\e94c";
}

.icon-eye:before {
  content: "\e915";
}

.icon-facebook:before {
  content: "\e916";
}

.icon-filter:before {
  content: "\e917";
}

.icon-go-back-arrow:before {
  content: "\e918";
}

.icon-grupos:before {
  content: "\e919";
}

.icon-home:before {
  content: "\e91a";
}

.icon-in:before {
  content: "\e91b";
}

.icon-inmaduras:before {
  content: "\e950";
}

.icon-instagram:before {
  content: "\e91c";
}

.icon-io:before {
  content: "\e91d";
}

.icon-junta:before {
  content: "\e91e";
}

.icon-lab:before {
  content: "\e91f";
}

.icon-leaf:before {
  content: "\e920";
}

.icon-libroTaxo:before {
  content: "\e951";
}

.icon-letter:before {
  content: "\e921";
}

.icon-link:before {
  content: "\e922";
}

.icon-linkata:before {
  content: "\e923";
}

.icon-linkedin:before {
  content: "\e924";
}

.icon-lock:before {
  content: "\e94a";
}

.icon-lync:before {
  content: "\e925";
}

.icon-mail:before {
  content: "\e926";
}

.icon-menu-user:before {
  content: "\e927";
}

.icon-na:before {
  content: "\e928";
}

.icon-news:before {
  content: "\e929";
}

.icon-normas:before {
  content: "\e92a";
}

.icon-notifications:before {
  content: "\e92b";
}

.icon-numeral:before {
  content: "\e956";
}

.icon-ot:before {
  content: "\e92c";
}

.icon-paraTodos:before {
  content: "\e955";
}

.icon-pdf-file:before {
  content: "\e948";
}

.icon-pencil:before {
  content: "\e92d";
}

.icon-phonebook:before {
  content: "\e92e";
}

.icon-placeholder:before {
  content: "\e92f";
}

.icon-plant:before {
  content: "\e930";
}

.icon-play:before {
  content: "\e931";
}

.icon-pos:before {
  content: "\e932";
}

.icon-preguntas:before {
  content: "\e933";
}

.icon-product:before {
  content: "\e934";
}

.icon-recruit:before {
  content: "\e935";
}

.icon-redes:before {
  content: "\e936";
}

.icon-ri:before {
  content: "\e937";
}

.icon-searching:before {
  content: "\e938";
}

.icon-send-button:before {
  content: "\e939";
}

.icon-share:before {
  content: "\e93a";
}

.icon-skype:before {
  content: "\e93b";
}

.icon-sociedad:before {
  content: "\e93c";
}

.icon-su:before {
  content: "\e93d";
}

.icon-target:before {
  content: "\e949";
}

.icon-teamwork:before {
  content: "\e93e";
}

.icon-telephone:before {
  content: "\e93f";
}

.icon-tematica:before {
  content: "\e940";
}

.icon-twitter:before {
  content: "\e941";
}

.icon-unlock:before {
  content: "\e94b";
}

.icon-up-arrow:before {
  content: "\e942";
}

.icon-upload:before {
  content: "\e943";
}

.icon-user:before {
  content: "\e944";
}

.icon-warning:before {
  content: "\e945";
}

.icon-whatsapp:before {
  content: "\e946";
}

.icon-youtube:before {
  content: "\e947";
}

.icon-ciencia:before {
  content: "\e952";
}

.icon-next:before {
  content: "\e954";
}

.icon-prev:before {
  content: "\e953";
}